<div class="threadbox">
  <header-directive></header-directive>
</div>
<div class="module">
  <div class="jeansbox">
    <div class="jeanstext">
      <p>our fits are the result of understanding and deep appreciation of denim history paired with our personal need to make a jean that we actually wanted to wear. not for trends. not to suit an image or lifestyle. not to replicate existing formulas within the industry.</p>
    </br>

      <p>real jeans for real people.</p>
    </div>
  </div>
</div>
<div class="module">
<div class="jeanscollection">
    <div class="grid3">
      <div class="griditem-4peat" ng-repeat="product in products | orderBy: 'imageurl' | limitTo: 8">
        <div class='gridImageWrap' style="background-image: url({{product.imageurl}})">
            <img ng-src="{{product.image2url}}"/>
        </div>
      </div>
    </div>
  </div>

  <div class="module-hompage-collection-names module">
    <ul class="collection-names">
      <li>catherine abilene</li>
      .
      <li>barton slim black rigid</li>
      .
      <li>james tacoma</li>
      .
      <li>charlie rigid</li>
      .
      <li>barton slim wauseon</li>
      .
      <li>elle asbury</li>
      .
      <li>elizabeth wayfarer ll frayed</li>
      .
      <li>imogene rigid</li>
      .
      <li>oscar black rigid</li>
    </ul>
  </div>
